SWISS_ROUTE_DATASOURCE_USERNAME=swiss_route_user
SWISS_ROUTE_DATASOURCE_PASSWORD=swiss_route_password
SWISS_ROUTE_DATASOURCE_DB=swiss_route_db
SWISS_ROUTE_DATASOURCE_URL=jdbc:postgresql://localhost:5432/swiss_route_db
SWISS_ROUTE_JPA_DDL=update
SWISS_ROUTE_JPA_SHOW_SQL=false

SWISS_ROUTE_TRANSPORT_API_BASE_URL=http://transport.opendata.ch/v1
SWISS_ROUTE_TRANSPORT_API_CONNECT_TIMEOUT_MS=3000
SWISS_ROUTE_TRANSPORT_API_READ_TIMEOUT_MS=20000
SWISS_ROUTE_TRANSPORT_API_WRITE_TIMEOUT_MS=5000
SWISS_ROUTE_TRANSPORT_API_MEMORY_SIZE_MB=10

SWISS_ROUTE_JWT_SECRET=your_jwt_secret_key_in_base64_format
SWISS_ROUTE_JWT_EXPIRATION=3600
SWISS_ROUTE_TOKEN_TYPE=Bearer

SWISS_ROUTE_ALLOWED_METHODS=GET,POST,PUT,DELETE
SWISS_ROUTE_ALLOWED_ORIGINS=http://localhost:3000
SWISS_ROUTE_MAX_AGE=3600

SWAGGER_UI_DOCUMENTATION_ENABLED=true