SWISS_ROUTE_DATASOURCE_USERNAME=swiss_route_user
SWISS_ROUTE_DATASOURCE_PASSWORD=swiss_route_password
SWISS_ROUTE_DATASOURCE_DB=swiss_route_db
SWISS_ROUTE_DATASOURCE_URL=jdbc:postgresql://localhost:5432/swiss_route_db
SWISS_ROUTE_JPA_DDL=update
SWISS_ROUTE_JPA_SHOW_SQL=true

SWAGGER_UI_DOCUMENTATION_ENABLED=true